asyncpg
fastapi
requests
uvicorn
black
flake8
isort
pytest
pytest-cov
pytest-xdist
httpx
pydantic
sqlalchemy
psycopg2-binary
pydantic_settings
redis
fastapi_utilities
elasticsearch==7.10.0
pandas
numpy==1.21.4
